* 
{
    margin: 0;
    padding: 0;
}

body
{
    height: 3000px;
}

.header
{
    width: 100%;
    height: 60px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
     z-index: 1000; 
}

.logo
{
    float: left;
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: 100px;
}

.parent 
{
   float: right;
   margin-right: 200px;
   margin-top: 20px;
   list-style: none;
}

.parent .item 
{
     display: inline-block; 
    margin-left: 17px;
}

.parent .item a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.parent .item .active 
{
    color: orange;
}

.parent .item:hover a 
{
    color: blue;
}

/* /////////////////////////////////// */

.home 
{
    width: 100%;
    height: 100vh;
    background-image: url(../session6/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.795);
}

.content 
{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content h2 
{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

.content p
{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn 
{
    width: 150px;
    height: 60px;
    background-color: rgb(253, 73, 7);
    color: white;
    border: none;
    border-radius: 15px;
}

.content .active_head 
{
    color: red;
}


